<div class="page-container">
  <div class="header-section">
    <h1>Gestione Resi</h1>
    <p>Visualizza e gestisci le richieste di reso degli utenti.</p>
  </div>

  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="resi">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID Reso </th>
        <td mat-cell *matCellDef="let element"> {{element.id | slice:0:8}}... </td>
      </ng-container>

      <!-- Dettaglio Ordine Column -->
      <ng-container matColumnDef="dettaglioOrdineId">
        <th mat-header-cell *matHeaderCellDef> Dettaglio Ordine </th>
        <td mat-cell *matCellDef="let element"> {{element.dettaglioOrdineId | slice:0:8}}... </td>
      </ng-container>

      <!-- Data Ritiro Column -->
      <ng-container matColumnDef="dataResoPrevista">
        <th mat-header-cell *matHeaderCellDef> Data Ritiro </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.dataResoPrevista | date:'shortDate'}} 
        </td>
      </ng-container>

      <!-- Ora Ritiro Column -->
      <ng-container matColumnDef="oraRitiroReso">
        <th mat-header-cell *matHeaderCellDef> Ora </th>
        <td mat-cell *matCellDef="let element"> {{element.oraRitiroReso}} </td>
      </ng-container>

      <!-- Stato Column -->
      <ng-container matColumnDef="statoReso">
        <th mat-header-cell *matHeaderCellDef> Stato </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip [color]="getStatoColor(element.statoReso)" selected>
            {{element.statoReso | titlecase}}
          </mat-chip>
        </td>
      </ng-container>

      <!-- Azioni Column -->
      <ng-container matColumnDef="azioni">
        <th mat-header-cell *matHeaderCellDef> Azioni </th>
        <td mat-cell *matCellDef="let element">
          <!-- Bottone Accetta (Solo se in stato RICHIESTO) -->
          <button mat-icon-button color="primary" *ngIf="element.statoReso === 'RICHIESTO'" (click)="cambiaStato(element.id, 'ACCETTATO')" matTooltip="Accetta (Avvia Rimborso e Ritiro)">
            <mat-icon>check_circle</mat-icon>
          </button>

          <!-- Bottone Rifiuta (Solo se in stato RICHIESTO) -->
          <button mat-icon-button color="warn" *ngIf="element.statoReso === 'RICHIESTO'" (click)="cambiaStato(element.id, 'RIFIUTATO')" matTooltip="Rifiuta">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-hover"></tr>
    </table>

    <mat-paginator 
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>
